<% if (type === 'tree') { %>
  <li class='directory'>
    <span class='mask'></span>
    <a class='clearfix item' href='<%= path %>'>
      <span class='ico fl small inline folder'></span>
      <%= name %>
    </a>
  </li>
<% } else { %>
  <li class='asset'>
    <!-- <span class='mask'></span> -->
    <a class='clearfix item' href='<%= path %>' title='<%= path %>'>
      <div class='mediaObj mediaObj--center'>
        <% if (isMedia) { %>
          <div class='mediaObj-figure'>
            <img src='https://cdn.rawgit.com/<%- repo.owner.login %>/<%- repo.name %>/master/<%= path %>'>
          </div>
        <!-- <span class='ico fl small inline media'></span> -->
        <% } else { %>
          <span class='ico fl small inline document'></span>
        <% } %>
        <div class='mediaObj-body'><%= name %></div>
      </div>
    </a>
  </li>
<% } %>
